{% extends 'layouts/base.html' %}{% load staticfiles %}

{% block html_tag_attrs %}{% endblock %}

{% block css %}{{ block.super }}
	<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock css %}

{% block body_tag_attrs %}{% endblock %}

{% block top %}
<div class="container">
	<div>
		<a href="/">...</a> |
		<a href="/blog/">Blog</a> |
		<a href="/blog/archive/">Archive</a>
	</div>
</div>
{% endblock top %}

{% block content %}
{% if entry %}
<div class="container">
	<h1 id="title">{{ entry.title|safe }}</h1>
	<div id="date">{{ entry.date|safe }}</div>
	<br/>
	<div id="content">{{ entry.content|safe }}</div>
	<br/>
	{% if entry.previous %}<div><a href="/blog/{{ entry.previous }}/"><i>Previous</i></a></div>{% endif %}
	{% if entry.next %}<div><a href="/blog/{{ entry.next }}/"><i>Next</i></a></div>{% endif %}
{% else %}
	{% block message_no_entry %}
	<p>The blog is currently under construction. Come back in a few days!</p>
	{% endblock message_no_entry %}
{% endif %}
</div>

{% endblock content %}

{% block bottom %}
<div class="container">

</div>
{% endblock bottom %}


{% block js %}{{ block.super }}
<script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock js %}