<!doctype html>{% load staticfiles %}
<html lang="en" {% block html_tag_attrs %}{% endblock %}>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}All I Know is Nothing{% endblock %}</title>
{% block css %}
{% if debug %}
	<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" />
{% else %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
{% endif %}
{% endblock css %}
{% block head_extend %}{% endblock %}
</head>
<body{% block body_tag_attrs %}{% endblock %}>

{% block top %}{% endblock top %}

{% block content %}{% endblock content %}

{% block bottom %}{% endblock bottom %}

{% block js %}
{% if debug %}
<script src="{% static 'lib/js/jquery-1.11.0.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
{% endif %}
{% endblock js %}
</body>
</html>