<!doctype html>{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}All I Know is Nothing{% endblock %}</title>
{% block css %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
{% endblock css %}
</head>
<body>
{% block top %}{% endblock top %}

{% block content %}{% endblock content %}

{% block bottom %}{% endblock bottom %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% endblock js %}
</body>
</html>